*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav ul li a{
    background-color: yellow;
    color: blue;
    text-decoration: none;
    padding: 10px;
    margin: center;
    height: 20px;
    width: auto;
}
nav ul li{
    list-style-type: none;
    display: inline;
}
.body{
    background-color: rgb(47, 107, 160);
    width: auto;
    height: auto;
    color: black;
}
.main{
    background-color: burlywood;
    width: 50%;
    height: 600px;
    padding: 20px;
    margin: 20px;
    float: left;


}
h1{
    color: azure;
    width:70% ;
    margin: 20px;
    padding: 20px;
}
nav ul li a:hover{
    background-color: blueviolet;
}
.image{
    height: 300px;
    width: 250px;
    border: 15px solid;
}
.column{
    float:left;
    width: 30%;
    padding: auto;
}
.aside{
    height: fit-content;
    float: right;
    padding: auto;
}
